{% extends 'index.html' %}

{% load static %}
{% block favicon %}<link href={% static 'Principal/assets/img/faviconSaladillo.png' %} rel="icon">{% endblock favicon %}

{% block titulo1 %}
<title>Dashboard - Saladillo S.A.</title>
{% endblock titulo1 %}

{% block logo %}
    <div class="d-flex align-items-center justify-content-between">
      <a href={% url 'index_saladillo' %} class="logo d-flex align-items-center">
        <img src={% static 'Principal/assets/img/logosaladillo.png' %} alt="">
        <span class="d-none d-lg-block">Ind. Saladillo</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->
{% endblock logo %}

{% block barra_lateral %}

<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href={% url 'index_saladillo' %}>
            <i class="bx bxs-home"></i>
            <span>Menu Principal</span>
            
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Mails por estados</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href={% url 'index_saladillo' %}>
                        <i class="bi bi-circle"></i><span>Monitor</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-circle"></i><span>Conf. Mail</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-circle"></i><span>Conf. Mail x Estado</span>
                    </a>
                </li>
                <li>
                    <a href={% url 'leer_saladillo' %}>
                        <i class="bi bi-circle"></i><span>Cargar pedidos nuevos</span>
                    </a>
                </li>
                
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables1-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>Perfil</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables1-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                {% if request.user.is_authenticated %}
                    <a href="#">
                        <i class="bi bi-circle"></i><span>{{request.user.username}}</span>
                    </a>
                    <a href="#">
                        <i class="bi bi-circle"></i><span>Cerrar sesión</span>
                    </a>
                {% else %}
                    <a href="#">
                        <i class="bi bi-circle"></i><span>Login</span>
                    </a>

                {% endif %}
                </li>
                
            
            </ul>
        </li>


        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables2-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>Doc. APIS</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables2-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                
                    
                    <a href="#">
                        <i class="bi bi-circle"></i><span>Estado Recibido</span>
                    </a>
                
                    <a href="#">
                        <i class="bi bi-circle"></i><span>Estado Preparado</span>
                    </a>
                    <a href="#">
                        <i class="bi bi-circle"></i><span>Estado Ruteado</span>
                    </a>

                
                </li>
                
            
            </ul>
        </li>
    </ul>
</aside>


{% endblock barra_lateral %}



{% block graficos_tablas %}




<div class="container-fluid pt-4 px-4">
    {% comment %} {% if msj_error %}
    <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">
      {{msj_error}}
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
    </div> {% endcomment %}

    {% if msj_enviados%}
    <div class="alert alert-success bg-success text-light border-0 alert-dismissible fade show" role="alert">
      {{msj_enviados}}
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% elif msj_carga%}
    <div class="alert alert-success bg-success text-light border-0 alert-dismissible fade show" role="alert">
      {{msj_carga}}
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>


    {% elif msj_inicio%}
    <div class="alert alert-secondary bg-secondary text-light border-0 alert-dismissible fade show" role="alert">
      {{msj_inicio}}
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

</div>

<div class="container-fluid pt-4 px-4">
    <div class="col-sm-12 col-xl-3">
        
        <div class="container-fluid pt-4 px-4">
            <h6>Actualizar lista de pedidos</h6>
            <div class="row g-4">
                {% csrf_token %}
                <form action={% url 'index_saladillo'%} method = "POST"> 
                    
                    <button type="submit" class="btn btn-info" name="btn_carga">Actualizar Pedidos</button>
                </form>
            </div>
        </div>
        
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="col-sm-12 col-xl-3">
        
        <div class="container-fluid pt-4 px-4">
            <h6>Enviar Mails a clientes</h6>
            <div class="row g-4">
                <form action={% url 'index_saladillo'%} method = "POST"> 
                    
                    <button type="submit" class="btn btn-info" name="btn_enviar_mail">Enviar Mails</button>
                </form>
            </div>
        </div>
        
    </div>
</div>



{% if pedidos %}
{{pedidos}}

{% endif %}





{% endblock graficos_tablas %}