{% extends 'index.html' %}

{% load static %}
{% block favicon %}<link href={% static 'Principal/assets/img/faviconSaladillo.png' %} rel="icon">{% endblock favicon %}

{% block titulo1 %}
<title>Dashboard - Saladillo S.A.</title>
{% endblock titulo1 %}

{% block logo %}
    <div class="d-flex align-items-center justify-content-between">
      <a href={% url 'index_saladillo' %} class="logo d-flex align-items-center">
        <img src={% static 'Principal/assets/img/logosaladillo.png' %} alt="">
        <span class="d-none d-lg-block">Ind. Saladillo</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->
{% endblock logo %}

{% block barra_lateral %}

<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href={% url 'index_saladillo' %}>
            <i class="bx bxs-home"></i>
            <span>Dashboard</span>
            
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>API Pedidos</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href={% url 'monitor' %}>
                        <i class="bi bi-circle"></i><span>Monitor</span>
                    </a>
                </li>
                {% comment %} <li>
                    <a href="#">
                        <i class="bi bi-circle"></i><span>Detalle Enviados</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-circle"></i><span>Detalle No Enviados</span>
                    </a>
                </li> {% endcomment %}
                <li>
                    <a href={% url 'mail_receptor' %}>
                        <i class="bi bi-circle"></i><span>Configuración</span>
                    </a>
                </li>
                <li>
                    <a href={% url 'sector_pruebas' %}>
                        <i class="bi bi-circle"></i><span>Control Pedidos</span>
                    </a>
                </li>
                <li>
                    <a href={% url 'panel_chofer' %}>
                        <i class="bi bi-circle"></i><span>Panel Choferes</span>
                    </a>
                </li>
                <li>
                    <a href={% url 'sincronizar' %}>
                        <i class="bi bi-circle"></i><span>Panel de sincronizacion</span>
                    </a>
                </li>
                
                
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables1-nav" data-bs-toggle="collapse" href='#'>
                <i class="bi bi-layout-text-window-reverse"></i><span>Perfil</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables1-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                {% if request.user.is_authenticated %}
                    <a href={% url 'perfil' %}>
                        <i class="bi bi-circle"></i><span>{{request.user.username}}</span>
                    </a>
                    <a href={% url 'logout' %}>
                        <i class="bi bi-circle"></i><span>Cerrar sesión</span>
                    </a>
                {% else %}
                    <a href={% url 'login' %}>
                        <i class="bi bi-circle"></i><span>Login</span>
                    </a>

                {% endif %}
                </li>
                
            
            </ul>
        </li>


        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables2-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>Doc. APIS</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables2-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                
{% comment %}                     
                    <a href="#">
                        <i class="bi bi-circle"></i><span>Estado Recibido</span>
                    </a>
                
                    <a href="#">
                        <i class="bi bi-circle"></i><span>Estado Preparado</span>
                    </a>
                    <a href="#">
                        <i class="bi bi-circle"></i><span>Estado Ruteado</span>
                    </a> {% endcomment %}

                
                </li>
                
            
            </ul>
        </li>
    </ul>
</aside>


{% endblock barra_lateral %}



{% block graficos_tablas %}




<div class="container-fluid pt-4 px-4">
    {% if msj_error %}
    <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">
      {{msj_error}}
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>


    {% elif msj_carga%}
    <div class="alert alert-success bg-success text-light border-0 alert-dismissible fade show" role="alert">
      {{msj_carga}}
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>


    {% elif msj_inicio%}
    {% comment %} <div class="alert alert-secondary bg-secondary text-light border-0 alert-dismissible fade show" role="alert">
      {{msj_inicio}}
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
    </div> {% endcomment %}
    {% endif %}

    {% if pendientes %}
    
    <div class="alert alert-secondary bg-secondary text-light border-0 alert-dismissible fade show" role="alert">
        Hay un total de {{pendientes}} pedidos pendientes para informar.
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    {% if msj_enviados %}
    <div class="alert alert-success bg-success text-light border-0 alert-dismissible fade show" role="alert">
        Se han enviado un total de {{msj_enviados}} mails.
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endif %}
    {% if msj_no_enviado %}
    <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">
        No se han enviado un total de {{msj_no_enviado}} mails.
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}


</div>

<section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
        {% comment %} <div class="col-lg-8">
            <div class="row">

                
                <div class="col-xxl-4 col-md-6">
                    *Modo desarrollo
                    <div class="card info-card sales-card">
                        
                        <div class="card-body">
                            <h5 class="card-title">Actualizar lista de pedidos</h5>
                            <div class="row g-4">
                                {% csrf_token %}
                                <form action={% url 'index_saladillo'%} method = "POST"> 
                                    {{form.as_table}}
                                    <button type="submit" class="btn btn-info" name="btn_carga">Actualizar Pedidos</button>
                                </form>
                            </div>
                        </div>
                        
                    </div>
                </div>

                
                <div class="col-xxl-4 col-md-6">
                    *Modo desarrollo
                    <div class="card info-card revenue-card">
                        
                        <div class="card-body">
                            <h5 class="card-title">Enviar Mails Pendientes</h5>
                            <div class="row g-4">
                                {% csrf_token %}
                                <form action={% url 'index_saladillo'%} method = "POST"> 
                                    {{form2.as_table}}
                                    <button type="submit" class="btn btn-info" name="btn_enviar_mail">Enviar Mails</button>
                                </form>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
    </div>

</section>



{% comment %} <section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
        <div class="col-lg-12">
            <div class="row">
                <div class="col-xxl-4 col-md-12">
                    <div class="card info-card sales-card">
                        
                        
                            
                        <div class="card-body">
                            <h5 class="card-title">Reporte de pedidos.<span>/Hoy</span></h5>
                                <div class="row g-4">
                    <!-- Line Chart -->
                                    <div id="reportsChart"></div>

                                    <script>
                                    document.addEventListener("DOMContentLoaded", () => {
                                        new ApexCharts(document.querySelector("#reportsChart"), {
                                        series: [{
                                            name: 'Pedidos Nuevos',
                                            data: [31, 40, 28, 51, 42, 82, 56],
                                        }, {
                                            name: 'Pedidos en preparación',
                                            data: [11, 32, 45, 32, 34, 52, 41]
                                        }, {
                                            name: 'Pedidos en distribución',
                                            data: [15, 11, 32, 18, 9, 24, 11]
                                        }, {
                                            name: 'Pedidos entregados',
                                            data: [17, 20, 15, 13, 8, 29, 7]
                                        }],
                                        chart: {
                                            height: 350,
                                            type: 'area',
                                            toolbar: {
                                            show: false
                                            },
                                        },
                                        markers: {
                                            size: 4
                                        },
                                        colors: ['#4154f1', '#FFFF00', '#ff771d', '#2eca6a'],
                                        fill: {
                                            type: "gradient",
                                            gradient: {
                                            shadeIntensity: 1,
                                            opacityFrom: 0.3,
                                            opacityTo: 0.4,
                                            stops: [0, 90, 100]
                                            }
                                        },
                                        dataLabels: {
                                            enabled: false
                                        },
                                        stroke: {
                                            curve: 'smooth',
                                            width: 2
                                        },
                                        xaxis: {
                                            type: 'datetime',
                                            categories: [
                                            "2018-09-19T09:00:00.000Z", 
                                            "2018-09-19T13:00:00.000Z", 
                                            "2018-09-19T15:00:00.000Z", 
                                            "2018-09-19T16:00:00.000Z", 
                                            "2018-09-19T17:30:00.000Z", 
                                            "2018-09-19T19:00:00.000Z", 
                                            "2018-09-19T22:00:00.000Z"
                                            ]
                                        },
                                        tooltip: {
                                            x: {
                                            format: 'dd/MM/yy HH:mm'
                                            },
                                        }
                                        }).render();
                                    });
                                    </script>
                                    <!-- End Line Chart -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> {% endcomment %}




{% if pedidos %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-white rounded h-100 p-4">
                {% block titulo_detalle %}<h6 class="mb-4">Detalle de pedidos ingresados el dia de hoy: </h6>{% endblock titulo_detalle %}
                {% comment %} <a href={% url 'informe_global' %}><button class="btn btn-success">Actualizar</a></button> {% endcomment %}
                <table class="table table-bordered border-primary">
                    <thead>
                        <tr>
                            
                            <th scope="col">Cliente</th>
                            <th scope="col">Nro Pedido</th>
                            <th scope="col">Nro Packing</th>
                            <th scope="col">Nro Ruteo</th>
                            <th scope="col">Mail</th>
                            <th scope="col">Primer Mail</th>
                            <th scope="col">Segundo Mail</th>
                            <th scope="col">Tercer Mail</th>
                            <th scope="col">Entregado</th>
                            <th scope="col">Importe Total</th>
                            <th scope="col">Orden de compra</th>
                            <th scope="col">Fecha Creacion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for valor in pedidos %}
                        <tr>
                            
                            <th>{{valor.cliente}}</th>
                            <td>{{valor.nro_pedido}}</td>
                            <td>{{valor.nro_packing}}</td>
                            <td>{{valor.nro_ruteo}}</td>
                            <td>{{valor.mail}}</td>
                            <td>{{valor.mail1_enviado}}</td>
                            <td>{{valor.mail2_enviado}}</td>
                            <td>{{valor.mail3_enviado}}</td>
                            <td>{{valor.entregado}}</td>
                            <td>{{valor.importe_total}}</td>
                            <td>{{valor.orden_de_compra}}</td>
                            <td>{{valor.fecha_creacion | date:"d/m/Y"}}</td>
                
                
                        </tr>
                        
                        {% endfor %}
  
  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>   


{% endif %}





{% endblock graficos_tablas %}