{% extends 'Saladillo/index_saladillo.html' %}


{% block graficos_tablas %}


{% if msj %}
<div class="alert alert-secondary bg-secondary text-light border-0 alert-dismissible fade show" role="alert">
{{msj}}
<button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% comment %} 
<button type="button" class="btn btn-outline-danger m-2" name="btn_clientes"><a href={% url 'sincronizar' %}>Sincronizar Clientes</a></button>

<button type="button" class="btn btn-outline-danger m-2" name="btn_pedidos"><a href={% url 'sincronizar' %}>Sincronizar Pedidos</a></button>

<button type="button" class="btn btn-outline-danger m-2" name="btn_hr"><a href={% url 'sincronizar' %}>Sincronizar Hojas de Ruta</a></button> {% endcomment %}



<button type="button" class="btn btn-outline-danger m-2" name="btn_estados"><a href={% url 'sincronizar' %}>Sincronizar</a></button>



{% endblock graficos_tablas %}